# --- Sécurité ---
.env

# --- DEV ---
.vscode/
.DS_Store
Thumbs.db

# --- Dépendances ---
vendor/

# --- Média & Uplods ---
public/uploads/*
!public/uploads/.gitkeep

# --- Logs ---
*.log

# --- Binaires ---
tailwind
tailwind.exe
tailwind-linux-x64
tailwind-windows-x64.exe